@model SpadStorePanel.Core.Models.StaticContentDetail
@if (Model != null)
{
<div class="product-offer-area">
    <div class="container-fluid">
        <div class="section-max-bg pt-100 pb-70">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-5">
                        <div class="offer-card">
                            <h2>این یکی از بزرگترین پیشنهادات است</h2>
                            <h3>
                                330 تومان
                                <del>500 تومان</del>
                            </h3>
                            <p>
                                این یکی از بزرگترین و بزرگترین فروش این بهترین محصول است. شما به راحتی می توانید این
                                محصول را از یک پیشنهاد ویژه خریداری کنید و این واقعاً موثر است.
                            </p>
                            <div id="timer">
                                <div id="days"></div>
                                <div id="hours"></div>
                                <div id="minutes"></div>
                                <div id="seconds"></div>
                            </div>
                            <a href="/Shop" class="default-btn btn-bg-one border-radius-5">خرید</a>
                        </div>
                    </div>

                    <div class="col-lg-7">
                        <div class="offer-slider owl-carousel owl-theme">
                            <div class="offer-img-item">
                                <img src="~/Files/StaticContentImages/Image/@Model.Image" alt="Offer Images">
                                <div class="offer-tag">
                                    <h3>60%</h3>
                                    <span>پیشنهاد</span>
                                </div>
                            </div>

                            @*<div class="offer-img-item">
                                <img src="assets/images/offer-img/offer-img2.jpg" alt="Offer Images">
                                <div class="offer-tag">
                                    <h3>50%</h3>
                                    <span>پیشنهاد</span>
                                </div>
                            </div>*@
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
}