@*@model SpadStorePanel.Core.Models.StaticContentDetail



<div class="banner banner-overlay banner-overlay-light">
    <a href="/shop/">
        <img src="~/Files/StaticContentImages/Thumb/@Model.Image" alt="بنر">
    </a>

    <div class="banner-content banner-content-top bct-background">
        <h4 class="banner-subtitle">@Model.Title</h4><!-- End .banner-subtitle -->
        <h3 class="banner-title">@Model.ShortDescription</h3><!-- End .banner-title -->

        <a href="/shop/" class="btn btn-outline-gray banner-link">
            خرید<i class="icon-long-arrow-left"></i>
        </a>
    </div><!-- End .banner-content -->
</div><!-- End .banner -->*@