@model SpadStorePanel.Web.ViewModels.FooterViewModel


<footer class="footer-arae-one home-3">
    <div class="footer-top-one blue-bg">
        <!-- footer top one-->
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="footer-widget about">
                        <div class="widget-body">
                            <a href="/" class="footer-logo">
                                <h3 class="text-white">آقای باتری</h3>
                            </a>
                            <ul class="contact-info-list">
                                <li>
                                    <div class="single-contact-info">
                                        <div class="icon">
                                            <i class="fas fa-map-marker-alt"></i>
                                        </div>
                                        <div class="content">
                                            <span class="details">
                                                @Model.Address.ShortDescription
                                            </span>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="single-contact-info">
                                        <div class="icon">
                                            <i class="fas fa-envelope"></i>
                                        </div>
                                        <div class="content">
                                            <span class="details">
                                                @Model.Email.ShortDescription
                                            </span>

                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="single-contact-info">
                                        <div class="icon">
                                            <i class="fas fa-phone"></i>
                                        </div>
                                        <div class="content">
                                            <span class="details">
                                                @Model.Phone.ShortDescription
                                            </span>

                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="footer-widget">
                        <div class="widget-title">
                            <h4 class="title">راهنمای خرید</h4>
                        </div>
                        <div class="widget-body">
                            <ul class="page-list">
                                <li><a href="/shop/">-- فروشگاه</a></li>
                                <li><a href="/Shop/Cart">-- سبد خرید</a></li>
                                <li><a href="/Customer/Auth/Login/">-- ورود/ثبت نام</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="footer-widget">
                        <div class="widget-title">
                            <h4 class="title">مشاوره خرید</h4>
                        </div>
                        <div class="widget-body">
                            <ul class="page-list">
                                <li><a href="/Blog/">-- بلاگ</a></li>
                                <li><a href="/ContactUs/">-- تماس با ما</a></li>
                                <li><a href="/AboutUs/">-- درباره ما</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                @*<div class="col-lg-3 col-md-6">
                    <div class="footer-widget">
                        <div class="widget-title">
                            <h4 class="title">اطلاعات</h4>
                        </div>
                        <div class="widget-body">
                            <ul class="page-list">
                                <li><a href="/home/faq">-- راهنمای سایت</a></li>
                                <li><a href="/home/faq">-- جستجوی محصولات</a></li>
                                <li><a href="/home/faq">-- جستجوی پیشرفته</a></li>
                                <li><a href="/aboutus/">-- درباره ما</a></li>
                                <li><a href="/ContactUs/">-- تماس با ما</a></li>
                                <li><a href="/home/faq">-- تامین کنندگان</a></li>
                            </ul>
                        </div>
                    </div>
                </div>*@
            </div>
        </div>
    </div><!-- //.footer top one -->
    <div class="copyright-area blue-bg pb-3">
        <!-- copyright area -->
        <div class="container">
            <h5 class="text-white text-center">
                طراحی شده توسط <a style="color: #FF8641;" href="https://www.spad.co">اسپاد</a> تمامی حقوق محفوظ است
            </h5>
        </div>
    </div><!-- //. copyright area -->
</footer>

