@model SpadStorePanel.Web.ViewModels.FooterViewModel


<footer class="footer-arae-one home-3">
    <div class="footer-top-one blue-bg">
        <!-- footer top one-->
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="footer-widget about">
                        <div class="widget-body">
                            <a href="/" class="footer-logo">
                                <h3 class="text-white">آقای باتری</h3>
                            </a>
                            <ul class="contact-info-list">
                                <li>
                                    <div class="single-contact-info">
                                        <div class="icon">
                                            <i class="fas fa-map-marker-alt"></i>
                                        </div>
                                        <div class="content">
                                            <span class="details">
                                                ایران ، تهران
                                            </span>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="single-contact-info">
                                        <div class="icon">
                                            <i class="fas fa-envelope"></i>
                                        </div>
                                        <div class="content">
                                            <span class="details">mrbattry@gmail.com</span>

                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="single-contact-info">
                                        <div class="icon">
                                            <i class="fas fa-phone"></i>
                                        </div>
                                        <div class="content">
                                            <span class="details">021 66 64 666</span>

                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="footer-widget">
                        <div class="widget-title">
                            <h4 class="title">راهنمای خرید</h4>
                        </div>
                        <div class="widget-body">
                            <ul class="page-list">
                                <li><a href="/blog/">-- بلاگ</a></li>
                                <li><a href="/home/faq">-- گفت و گو</a></li>
                                <li><a href="/home/faq">-- پرداخت</a></li>
                                <li><a href="/home/faq">-- حمل و نقل</a></li>
                                <li><a href="/home/faq">-- سفارش من کجاست</a></li>
                                <li><a href="/home/faq">-- سیاست بازگشت</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="footer-widget">
                        <div class="widget-title">
                            <h4 class="title">مشاوره خرید</h4>
                        </div>
                        <div class="widget-body">
                            <ul class="page-list">
                                <li><a href="/account/register">-- اکانت شما</a></li>
                                <li><a href="/home/faq">-- اطلاعات</a></li>
                                <li><a href="/home/faq">-- آدرس</a></li>
                                <li><a href="/home/faq">-- تخفیفات</a></li>
                                <li><a href="/home/faq">-- تاریخچه سفارش ها</a></li>
                                <li><a href="/home/faq">-- رهگیری سفارش</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="footer-widget">
                        <div class="widget-title">
                            <h4 class="title">اطلاعات</h4>
                        </div>
                        <div class="widget-body">
                            <ul class="page-list">
                                <li><a href="/home/faq">-- راهنمای سایت</a></li>
                                <li><a href="/home/faq">-- جستجوی محصولات</a></li>
                                <li><a href="/home/faq">-- جستجوی پیشرفته</a></li>
                                <li><a href="/aboutus/">-- درباره ما</a></li>
                                <li><a href="/CantactForm/">-- تماس با ما</a></li>
                                <li><a href="/home/faq">-- تامین کنندگان</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- //.footer top one -->
    <div class="copyright-area blue-bg pb-3">
        <!-- copyright area -->
        <div class="container">
            <h5 class="text-white text-center">
                طراحی شده توسط <a style="color: #FF8641;" href="https://www.spad.co">اسپاد</a> تمامی حقوق محفوظ است
            </h5>
        </div>
    </div><!-- //. copyright area -->
</footer>

