@model List<SpadStorePanel.Core.Models.ProductGroup>
@using SpadStorePanel.Core.Models

<div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <div class="text-center">

        <div>
            <!-- navbar collapse start -->
            <ul class="navbar-nav">
                <!-- navbar- nav -->

                <li class="nav-item active w-25 mx-auto">
                    <a class="nav-link" href="/">خانه</a>
                </li>
                <li class="nav-item w-25 mx-auto">
                    <a class="nav-link" href="/shop/">فروشگاه</a>
                </li>
                <li class="nav-item w-25 mx-auto">
                    <a class="nav-link" href="/blog/">بلاگ</a>
                </li>
                <li class="nav-item w-25 mx-auto">
                    <a class="nav-link" href="/aboutus/">درباره</a>
                </li>
                <li class="nav-item w-25 mx-auto">
                    <a class="nav-link" href="/CantactForm/">تماس</a>
                </li>
            </ul>
            <!-- /.navbar-nav -->
        </div>
    </div>
</div>

<!-- support bar area two start -->
<div class="support-bar-two bgup">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="left-content">
                    <a href="/" class="logo main-logo">
                        <h3 class="text-white">آقای باتری</h3>
                    </a>
                </div>
                <div class="right-content">
                    <ul>
                        <li>
                            <div class="support-search-area">
                                <form action="" class="search-form">
                                    <div class="form-element has-icon">
                                        <input type="text" class="input-field"
                                               placeholder="کلمه کلیدی را وارد نمایید">
                                        <button type="submit" class="submit-btn">
                                            <i style="position: absolute; left: 10px; top: 12px;"
                                               class="fas fa-search"></i>
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </li>
                        <li>
                            <div class="single-support-info-item">
                                <div class="icon">
                                    <i class="fas fa-envelope"></i>
                                </div>
                                <div class="content">
                                    <h4 class="title mb-1">ایمیل ما</h4>
                                    <span class="details">info@examplte.com</span>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="single-support-info-item">
                                <div class="icon">
                                    <i class="fas fa-phone"></i>
                                </div>
                                <div class="content">
                                    <h4 class="title mb-1">پشتیبانی</h4>
                                    <span class="details">021 666666</span>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- support bar area two end -->
<!-- navbar area start -->
<nav class="navbar navbar-area navbar-expand-lg navbar-light bg-orange">
    <div class="container nav-container">
        <div class="logo-wrapper navbar-brand ">
            <a href="/" class="logo main-logo mobile-logo">
                <h3 class="text-white">آقای باتری</h3>
            </a>
        </div>

        <div class="collapse navbar-collapse">
            <!-- navbar collapse start -->
            <ul class="navbar-nav">
                <!-- navbar- nav -->

                <li class="nav-item active">
                    <a class="nav-link" href="/">خانه</a>
                </li>
                <li class="nav-item dropdown mega-menu">
                    <!-- mega menu start -->
                    <a class="nav-link dropdown-toggle" href="/shop/">فروشگاه</a>
                    <div class=" mega-menu-wrapper">
                        <div class="container mega-menu-container">
                            <div class="row">
                                <div class="col-lg-3 col-sm-12">
                                    <div class="mega-menu-columns">
                                        <h6 class="title border-bottom pb-2">برند باتری</h6>
                                        <ul class="menga-menu-page-links">
                                            <li><a href="/shop/"> برند 1</a></li>
                                            <li><a href="/shop/"> برند 2</a></li>
                                            <li><a href="/shop/"> برند 3</a></li>
                                            <li><a href="/shop/"> برند 4</a></li>
                                            <li><a href="/shop/"> برند 5</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-sm-12">
                                    <div class="mega-menu-columns">
                                        <h6 class="title border-bottom pb-2">مدل خودرو</h6>
                                        <ul class="menga-menu-page-links">
                                            @if (Model != null)
                                            {
                                                foreach (var group in Model)
                                                {
                                                    <li><a href="/Shop/ProductList/@group.Id"> @group.Title</a></li>
                                                }
                                            }

                                                    @*<li><a href="/shop/"> کره ای</a></li>

                                                    <li><a href="/shop/"> چینی</a></li>

                                                    <li><a href="/shop/"> اروپایی</a></li>

                                                    <li><a href="/shop/"> ژاپنی</a></li>*@
                                                </ul>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-sm-12">
                                    <div class="mega-menu-columns">
                                        <h6 class="title border-bottom pb-2">ظرفیت باتری</h6>
                                        <ul class="menga-menu-page-links">

                                            <li><a href="/shop/"> 100 آمپر به پایین</a></li>

                                            <li><a href="/shop/"> 150 آمپر</a></li>

                                            <li><a href="/shop/"> 200 آمپر</a></li>

                                            <li><a href="/shop/"> 230 آمپر</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-sm-12">
                                    <div class="mega-menu-columns">
                                        <h6 class="title border-bottom pb-2">باتری صنعتی</h6>
                                        <ul class="menga-menu-page-links">
                                            <li><a href="/shop/"> باتری مخابراتی</a></li>
                                            <li><a href="/shop/"> کابینت باتری </a></li>
                                            <li><a href="/shop/"> باتری یو پی اس</a></li>
                                        </ul>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </li><!-- mega menu start -->
                <li class="nav-item">
                    <a class="nav-link" href="/blog/">بلاگ</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/aboutus/">درباره</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/CantactForm/">تماس</a>
                </li>
            </ul>
            <!-- /.navbar-nav -->
        </div>

        <!-- /.navbar btn wrapper -->
        <div class="responsive-mobile-menu">
            <button onclick="openNav()" class="navbar-toggler" type="button" data-toggle="collapse"
                    aria-controls="mirex" aria-expanded="false" aria-label="تغییر ناوبری">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        <!-- navbar collapse end -->
        <div class="right-btn-wrapper">
            <ul>

                <li class="right-menu"> <a class="fas fa-user usericon" href="/Customer/Auth/login"></a> </li>
                <li class="cart" id="cart">
                    <i class="fas fa-shopping-basket"></i>
                    <span class="badge" id="CartItemCount"></span>

                </li>
            </ul>
        </div>


    </div>
</nav>
<!-- navbar area end -->


<div class="body-overlay" id="body-overlay"></div>
<div class="search-popup home-3" id="search-popup">
    <form action="#" class="search-popup-form">
        <div class="form-element">
            <input type="text" class="input-field" placeholder="جستجو.....">
        </div>
        <button type="submit" class="submit-btn"><i class="fas fa-search"></i></button>
    </form>
</div>

<!-- cart sidebar area start -->
<div class="cart-sidebar-area home-3" id="cart-sidebar-area">
    <div class="top-content">
        <!-- top content -->
        <a href="#" class="logo">
            <h3 class="text-white">آقای باتری</h3>
        </a>
        <span class="side-sidebar-close-btn"><i class="fas fa-times"></i></span>
    </div><!-- //. top content -->
    <div class="bottom-content" id="cartSection">
        <!-- bottom content -->
        @Html.Action("CartSection", "Home")
    </div><!-- //. bottom content -->
</div>
<!-- cart sidebar area end -->


