<div class="choose-area pb-70">
    <div class="container">
        <div class="section-title text-center">
            <h2> چرا ما را انتخاب کنید </h2>
        </div>
        <div class="row pt-45">
            <div class="col-lg-4 col-sm-6">
                <div class="choose-card">
                    <i class="flaticon-return"></i>
                    <h3> بازگشت آسان </h3>
                    <p>
                        بازگشت 20 روزه بدون پرسش و سوال ، با خیال راحت. این یکی از بهترین پیشنهادات برای شما است.
                    </p>
                </div>
            </div>

            <div class="col-lg-4 col-sm-6">
                <div class="choose-card">
                    <i class="flaticon-verified"></i>
                    <h3> پرداخت امن </h3>
                    <p>
                        پرداخت امن و سریع ، با خیال راحت. این یکی از بهترین پیشنهادات برای شما است.
                    </p>
                </div>
            </div>

            <div class="col-lg-4 col-sm-6 offset-lg-0 offset-sm-3">
                <div class="choose-card">
                    <i class="flaticon-planet-earth"></i>
                    <h3> ارسال سریع </h3>
                    <p>
                        ارسال به تمام نقاط ایران ، با خیال راحت. این یکی از بهترین پیشنهادات برای شما است.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>