
<div class="newsletter"
     style="background-image: url(../../Content/client/assets/images/medicine_images/newsletter/cdc-tLQRMO33DeI-unsplash-2.jpg);">
    <div class="container">
        <div class="subscribe text-center">
            <div class="intro">
                <h3 class="title text-center">عضویت در خبرنامه ما</h3>
                <h4 class="content">با عضویت در خبرنامه از جدیدترین محصولات و تخفیف ها باخبر شوید</h4>
            </div>
            <div class="subscribe action">
                <form action="#">
                    <div class="input-group">
                        <input type="email" id="email" name="email" placeholder="آدرس ایمیل خود را وارد کنید" aria-label="Email Adress"
                               required="">
                        <div class="input-group-append">
                            <button class="btn btn-subscribe" type="button" onclick="ButtonEmail()" id="ButtonEmail" name="ButtonEmail">
                                <span id="text">
                                    همین حالا عضو
                                    شوید
                                </span>
                            </button>
                        </div><!-- .End .input-group-append -->
                    </div><!-- .End .input-group -->
                </form>
            </div>
        </div>
    </div>
</div>
