



<div class="bg-image pt-7 pb-5 pt-md-12 pb-md-9"
     style="background-image: url('/Files/StaticContentImages/Image/@ViewBag.Image.Image')">
    <div class="container">
        <div class="text-center a-moto">
            <h1>@ViewBag.Image.Title</h1>
            <h5>@ViewBag.Image.ShortDescription</h5>
        </div>
    </div><!-- End .container -->
</div><!-- End .bg-image pt-8 pb-8 -->