@model SpadStorePanel.Core.Models.StaticContentDetail


<section class="about-bottom-content-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="single-about-bottom-item">
                    <!-- single about bottom item -->
                    <div class="thumb">
                        <img width="100%" height="100%" src="~/Files/StaticContentImages/Image/@Model.Image" alt="about bottom image">
                    </div>
                    <div class="content">
                        <h4 class="title">@Model.Title</h4>
                        <p>
                            @Model.ShortDescription
                        </p>
                    </div>
                </div><!-- //.single about bottom item -->
            </div>
            <div class="col-lg-6">
                <div class="single-about-bottom-item">
                    <!-- single about bottom item -->
                    <div class="thumb">
                        <img width="100%" height="100%" src="~/Files/StaticContentImages/Image/@ViewBag.LeftImage" alt="about bottom image">
                    </div>
                    <div class="content">
                        <h4 class="title">@ViewBag.LeftTitle</h4>
                        <p>
                            @ViewBag.LeftShortDescription
                        </p>
                    </div>
                </div><!-- //.single about bottom item -->
            </div>

        </div>
    </div>
</section>

